body {
background-image: url("fortnite.jpg");
border-radius: 25px;
border-width: 25cm;
border-color: gold;
}

h1 {
color: gold;
}

h2 {
    color: gold;
    }

    h3 {
        color: gold;
        }